In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import datetime

In [49]:
file_path = os.path.join("Resources", "Asian Unemployment Rate.xlsx")

df = pd.read_excel(file_path)

In [50]:
df

    Year  Jan  Feb  Mar   Apr   May   Jun   Jul   Aug  Sep  Oct  Nov  Dec
0   2010  8.3  8.2  7.6   7.0   7.8   7.4   7.9   7.3  6.6  7.2  7.5  7.2
1   2011  6.8  6.7  7.3   6.5   7.2   6.5   7.4   7.2  8.0  7.4  6.4  6.8
2   2012  6.7  6.2  6.4   5.4   5.5   6.1   5.9   5.9  4.9  4.9  6.3  6.6
3   2013  6.4  6.0  5.1   5.3   4.5   4.7   5.3   5.1  5.4  5.4  5.2  4.3
4   2014  4.7  5.9  5.5   5.9   5.7   4.7   4.2   4.5  4.4  5.1  4.8  4.4
5   2015  4.0  4.0  3.2   4.4   4.1   3.9   3.9   3.4  3.5  3.5  3.9  4.1
6   2016  3.6  3.8  3.9   3.8   4.2   3.5   3.8   4.1  3.8  3.4  3.1  2.7
7   2017  3.7  3.4  3.3   3.3   3.7   3.6   3.8   3.9  3.6  3.0  3.0  2.5
8   2018  3.0  2.9  3.1   2.8   2.2   3.2   3.1   3.0  3.5  3.1  2.8  3.3
9   2019  3.1  3.1  3.1   2.2   2.5   2.1   2.8   2.8  2.5  2.8  2.6  2.5
10  2020  3.0  2.5  4.1  14.5  15.0  13.8  12.0  10.7  8.9  NaN  NaN  NaN

In [51]:
Unemployment_Dictionary = {"Hispanic": "Hispanic or Latino Unemployment Rate",
                          "Black": "Black Unemployment Rate",
                          "White": "White Unemployment Rate",
                          "Asian": "Asian Unemployment Rate",
                          "All Races": "All Unemployment Rate"}

In [52]:
for key, val in Unemployment_Dictionary.items():
    print(f"the key is:{key} the val is:{val}")

the key is:Hispanic the val is:Hispanic or Latino Unemployment Rate
the key is:Black the val is:Black Unemployment Rate
the key is:White the val is:White Unemployment Rate
the key is:Asian the val is:Asian Unemployment Rate
the key is:All Races the val is:All Unemployment Rate

In [57]:
race = []
month = []
year = []
rate = []
date = []
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
for key, val in Unemployment_Dictionary.items():
    df = pd.read_excel(f"Resources/{val}.xlsx")
    df = df.loc[(df["Year"] == 2019) | (df["Year"] == 2020)]
#     print(df)
    for mth in range(12):
        for index, row in df.iterrows():
            month.append(months[mth])
            race.append(key)
            year.append(int(row["Year"]))
            rate.append(row[mth+1])
            date.append(datetime.datetime(int(row["Year"]),mth+1, 1))

df_global = pd.DataFrame({'Race': race,
                          'Month': month,
                          'Year': year,
                          'Rate': rate,
                          'Dates': date})
df_global = df_global.sort_values(["Race","Dates"])
df_global

          Race Month  Year  Rate      Dates
96   All Races   Jan  2019   4.0 2019-01-01
98   All Races   Feb  2019   3.8 2019-02-01
100  All Races   Mar  2019   3.8 2019-03-01
102  All Races   Apr  2019   3.6 2019-04-01
104  All Races   May  2019   3.6 2019-05-01
..         ...   ...   ...   ...        ...
63       White   Aug  2020   7.3 2020-08-01
65       White   Sep  2020   7.0 2020-09-01
67       White   Oct  2020   NaN 2020-10-01
69       White   Nov  2020   NaN 2020-11-01
71       White   Dec  2020   NaN 2020-12-01

[120 rows x 5 columns]

In [58]:
clean_df = df_global.dropna(how='any')
clean_df

          Race Month  Year  Rate      Dates
96   All Races   Jan  2019   4.0 2019-01-01
98   All Races   Feb  2019   3.8 2019-02-01
100  All Races   Mar  2019   3.8 2019-03-01
102  All Races   Apr  2019   3.6 2019-04-01
104  All Races   May  2019   3.6 2019-05-01
..         ...   ...   ...   ...        ...
57       White   May  2020  12.4 2020-05-01
59       White   Jun  2020  10.1 2020-06-01
61       White   Jul  2020   9.2 2020-07-01
63       White   Aug  2020   7.3 2020-08-01
65       White   Sep  2020   7.0 2020-09-01

[105 rows x 5 columns]